.home-container {
    padding: 40px;
}

.start-button {
    color: #fff;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 64px;
}

p {
    color: #7E7E7E;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 40px;
    margin-bottom: 27px;
}